

<div class="col-md-4" >

    <div class="box box-solid " style="margin-top: 20px;" >

        <div class="box-header bg-green-gradient">

            <h3 class="box-title">Thông Tin Chung </h3>

            <!-- tools box -->

        </div><!-- /.box-header -->

        <div class="box-body no-padding table-responsive" >

            <table class="table table-bordered" >

                <tr>

                    <td>Mã Danh Mục</td>

                    <td>{{_CategoryDetail.catID}}</td>

                </tr>

                <tr>

                    <td>Tên Danh Mục</td>

                    <td>{{_CategoryDetail.catName}}</td>

                </tr>

                <tr>

                    <td>Danh Mục Cha</td>

                    <td>{{_CategoryDetail.parentCatID}}</td>

                </tr>

                <tr>

                    <td>Path</td>

                    <td>{{_CategoryDetail.Path}}</td>

                </tr>

                <tr>

                    <td>Link</td>

                    <td>{{_CategoryDetail.Link}}</td>

                </tr>

                <tr>

                    <td>Ghi Chú</td>

                    <td>{{_CategoryDetail.Note}}</td>

                </tr>



            </table>

        </div><!-- /.box-body -->

    </div>

</div>

<div class="col-md-8" >

    <div class="box box-solid " style="margin-top: 20px;" >

        <div class="box-header bg-green-gradient">

            <h3 class="box-title">Thông Tin Khác</h3>

            <!-- tools box -->

        </div><!-- /.box-header -->

        <div class="box-body" >

<!--            <table class="table table-bordered" >

                <thead>

                    <tr>

                        <th>Header</th>

                    </tr>

                </thead>

                <tbody>

                    <tr>

                        <td>Cell</td>

                    </tr>

                </tbody>

                <tfoot>

                    <tr>

                        <td>Cell</td>

                    </tr>

                </tfoot>



            </table>-->

        </div><!-- /.box-body -->

    </div>



</div>





{{_CategoryDetail}}