/*#A5D4CB*/
.OpenSans {
    font-family: 'Open Sans';
}

.header-top {
    background-color: #eee;
    color: #000;
}

.logo img {
    height: 50px;
}

.header-bottom {
    background-color: goldenrod;
}

nav.menu ul>li.active>a,
nav.menu ul>li:hover>a,
nav.menu ul>li:focus>a {
    color: #fff;
}

.cart-title {
    color: #fff;
}

a {
    color: #000;
}

.header-social a:hover,
.header-menu a:hover,
a:focus,
a:hover,
.active>a {}

.newsletter {
    background-color: goldenrod;
}

.product-item-price ins {
    color: #f11616;
}

.newletter-information h3,
.newletter-information h2 {
    color: #000;
}

.newletter-form button {
    background: #000;
    color: #fff;
    border: 1px solid #000;
}

.footer-information-item-content h3 {
    color: #000;
}

button#btn-message-submit {
    background: goldenrod;
    color: #000;
    font-weight: bold;
}

.product-item-image figure img {
    width: 100%;
    height: auto;
}

.product-item {
    margin-bottom: 15px;
    margin-top: 15px;
    height: 350px;
}

.product-item-label {
    background-color: #f11616;
    color: #fff;
    top: 10px;
    right: 10px;
}

.product-item {
    position: relative;
}

.product-item .icon-new {
    width: 60px;
    position: absolute;
    right: 13px;
    top: -2px;
    z-index: 9999;
}

.inputcartnumber {
    width: 40px;
    height: 48px;
    margin-top: 10px;
    float: left;
}

.btn-cart {
    padding: 0px;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
}

@media (min-width: 1441px) {
    .product-item {
        height: 450px;
    }
}

@media (max-width: 1440px) {
    .product-item-image figure img {
        height: 260px;
    }

    .category .product-item {
        height: 360px;
    }
}

@media (max-width: 1280px) {
    .product-item-image figure img {
        height: 260px;
    }
}


@media (max-width: 767px) {
    ul.menu-footer-bottom>li>a {
        color: #000;
    }

    .footer-bottom-body {
        background: #fff;
        display: none;
    }

    nav.menu .menu-header {
        display: block;
        background: #54514c;
        color: #fff;
        position: relative;
    }

    .menu-header>h3 {
        margin: 0;
        font-size: 20px;
        text-transform: uppercase;
        line-height: 48px;
        text-align: left;
        padding-left: 15px;
    }

    .menu-body {

        text-align: left;
        background: rgb(72 68 61 / 80%);
    }
}

@media (max-width: 479px) {
    .product-item {
        width: 50%;
        float: left;
        height: 250px;
    }

    .product-item-image figure img {
        height: 150px;
        width: 150px;

    }
}

@media (max-width: 375px) {
    .category .product-item {
        height: 250px;
    }

    .product-item-image figure img {
        height: 150px;
        width: 150px;

    }
}

.btn-togger-cart {
    cursor: pointer;
}

.GioHang {
    font-family: 'Open Sans';
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 99990;
    display: none;
}

.GioHang_Content {
    font-family: 'Open Sans';
    position: absolute;
    width: 30%;
    height: 100%;
    right: 0px;
    float: right;
    min-width: 300px;
    background-color: #fff;
    padding: 10px;
}

.GioHang-body {
    max-height: 200px;
    width: 100%;
    overflow: auto;
}

.btn-cart-delete {
    background: #434343;
    color: #fff;
    padding: 2px 9px;
    border-radius: 4px;
}

.cart-title-home {
    font-size: 18px;
    font-weight: bold;
    color: goldenrod;
}

.btn-add-cart {
    background-color: #000;
    padding: 10px 30px;
    text-align: center;
    color: #fff;
    display: inline-block;
}

.mb-2 {
    margin-bottom: 10px;
}

mb-3 {
    margin-bottom: 15px;
}

mb-4 {
    margin-bottom: 20px;
}

.product-star {
    color: goldenrod;
}

.clearfix {
    clear: both;
}

ul.categories-list li a {
    display: block;
}

ul.categories-list li {
    border-bottom: 1px dashed #A5D4CB;
}

.product-out-store {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0;
    text-align: center;
    background-color: #ffffff9e;
    color: red;
    font-size: 3em;
    line-height: 102px;
    font-family: sans-serif;
}

.pagination {
    margin-top: 50px;
}

.pagination li.active a {
    background-color: goldenrod;
    color: #000;
    border: 1px solid goldenrod;
}

.pagination li a {
    background: #fff;
    color: #000;
}

.module-title {
    font-family: inherit;
    text-transform: capitalize;
    color: #f11616;
    font-weight: bold;
}

.menu .menu-body>ul>li {
    position: relative;
}

.menu .menu-body ul li:hover ul {
    display: block;
}

.menu .menu-body ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 99999;
    width: 100%;
    background-color: goldenrod;
    min-width: 200px;
}

.menu .menu-body ul ul>li {
    margin-left: 10px;
}

.menu .menu-body ul ul>li a {
    display: block;
    padding: 10px;
}

.menu .menu-body ul ul>li a:hover {
    color: #000;
}