<a class="btn btn-sm btn-danger" target="_self" data-toggle="modal" href='#xoaquancao{{_modaldelete.id}}'>{{_modaldelete.name}}</a>
<div class="modal fade" id="xoaquancao{{_modaldelete.id}}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-red">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{_modaldelete.title}}</h4>
            </div>
            <div class="modal-body">
                <center>{{_modaldelete.mes}}</center> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
                <a href="{{_modaldelete.link}}" class="btn btn-primary" >Đồng Ý</a>
            </div>
        </div>
    </div>
</div>